.comp-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	column-gap: 13px;
	.cip-button {
		margin-left: 0 !important;
		.node-logic {
			width: 16px;
			height: 16px;
		}
		.icon-outer {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			min-width: 20px;
			justify-content: center;
			border-radius: 50%;
			margin-left: 3px;
			background: #528eff;
      &.icon-crud {
        background: #4949fb;
      }
		}
		svg {
			width: 14px !important;
			height: 14px !important;
		}
	}
	&.api-editor {
		display: grid;
		width: unset;
		height: unset;
	}
}
